html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none !important;
  border-bottom: none;
  color: white !important;
}



* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

li {
  text-decoration: none;
  list-style: none;
}

#header {
  min-width: 100%  !important;
}


.address {
  text-align: center;
}



.haber {
  display: flex;
}


.enlaces {
  font-size: 18px;
  color: white;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 5px;
}

.DivD{
  width: 167%;
}

.DivR{
  width: 105%;
}


.enlaces:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}


.llamanos {
  margin: auto;
}


.separacion {
  padding-top: 10px;
  margin-right: 86px;
  margin-left: 125px;
  justify-content: space-between;
  display: flex;
  padding-bottom: 10px;
}

.input_styles {
  display: block;
  width: 100%;
  font-size: 12px;
  color: #495057 !important;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  background-color: white;
}

.select_styles {
  background-color: white;
  display: block;
  width: 100%;
  font-size: 20px;
  color: #495057 !important;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

@media(max-width: 900px){

  .select_styles{
    font-size: 18px;
  }
}

.textarea_styles {
  width: 100%;
  display: block;
  font-size: 12px;
  color: #495057 !important;
  height: calc(1.5em + 1.75rem + 2px);
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.grupos {
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 4px;
}

.p input{
  font-size: 20px;
}

.p textarea{
  font-size: 20px;
}

#con {
  display: flex;
}

.boto {
  width: 100%;
  text-align: center;
}

#venta {
  padding-top: 9.5rem; 
  margin-top: -9.5rem;
}




#renta {
  padding-top: 10rem; 
  margin-top: -10rem;
}

@media(max-width: 1108px){

  .grupos {
    line-height: 15px;

  }

  .p input{
    font-size: 18px;
  }
  
  .p textarea{
    font-size: 18px;
  }
}

@media(max-width: 903px){

  .p input{
    font-size: 15px;
  }
  
  .p textarea{
    font-size: 15px;
  }
}

@media(max-width: 700px){
  #renta {
    padding-top: 9.5rem; 
  margin-top: -9.5rem;
  }
}

@media(max-width: 500px){
  #renta {
    padding-top: 9rem; 
  margin-top: -9rem;
  }

  #venta {
    padding-top: 9rem; 
  margin-top: -9rem;
  }

  .fonthd {
    margin-top: -7rem;
  }
}

@media(max-width: 500px){
  #renta {
    padding-top: 7.5rem; 
  margin-top: -7.5rem;
  }

  #venta {
    padding-top: 7.5rem; 
  margin-top: -7.5rem;
  }
}

@media(max-width: 350px){


  .p select{
    font-size: 15px !important;
  }
  
}

#reparacion {
  padding-top: 10rem; 
  margin-top: -10rem;
  
}

#contacto {
  padding-top: 10rem; 
  margin-top: -10rem;
}

.politicas {
  padding-top: .5rem;
}

.politicas p{
  color: white;
  font-size: 16px;
  
}

.politicas a{
  cursor: pointer;
}

.politicas a:hover{
  border-bottom: 1px solid white;
}

.modal {
  text-align: center;
}



@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.clicks:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.clicks:hover {
  cursor: pointer;
}

#menu ul {
  padding-left: 0px;
  
}


#menu > ul > li > ul {
  display: none;
  position: absolute;
  width: 160px;
  margin-left: -49px;
  padding-left: 0px;
  text-align: center;
  margin-top: -3px;
  z-index: 1;/*Para que se superponga*/
  
}

#menu > ul > li  {
  padding-top: 5px;
  
}



#menu > ul > li > ul > li {
  width: 100%;
  margin: 6px auto;
  
}

#menu > ul > li:hover > ul {
  display: block;
  background-color: black;
}

.otro {
  width: 50%;
  display: grid;
}

.repmar {
  padding-top: 2rem;
}

@media(max-width: 995px) {

  .otro {
    width: 100% !important;
    
  }
  
}





.iconul {
  margin: auto;
}



.b {
  margin-bottom: 4rem;
}

.contres {
  width: 70%;
  margin: auto;
}

.cen {
  width: 100%;
  display: grid;
  
}

.n {
  font-weight: bold;
  cursor: pointer;
}


@media (max-width: 991px) {
  .address {
    margin-top: 6px;
  }

  .boto {
    width: 100%;
  }
}


@media (max-width: 881px) {
  #welcome {
    font-size: 22px !important;
    padding-top: 7px !important;

  }

}


@media (max-width: 701px) {
  #welcome {
    font-size: 20px !important;
  }

  .redes{
      height: 35px;
      width: 35px;
  }

  .enlaces {
    margin-top: 2px !important;
    font-size: 14px;
  }

}

@media (max-width: 700px) {
  .separacion {
    padding-top: 10px;
    margin-right: 26px;
    margin-left: 26px;
    justify-content: space-between;
    display: flex;
    padding-bottom: 10px;
  }
}

@media (max-width: 370px) {
  .separacion {
    padding-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: space-between;
    display: flex;
    padding-bottom: 10px;
  }
}

@media (max-width: 350px) {

  .address {
    width: 50%;
  }

  strong{
    font-size: 7px !important; 
  }

  #menu ul li a{
    font-size: 8.5px !important;
  }

  .mim {
    font-size: 15px;
  }

}


@media (max-width: 414px) {

  #menu ul li a{
    font-size: 9.3px !important;
  }

}

@media (max-width: 350px) {

  #menu ul li a{
    font-size: 8.3px !important;
  }

}

@media (max-width: 310px) {


  #menu ul li a{
    font-size: 8px !important;
  }


}


@media (max-width: 647px) {
  #welcome {
    font-size: 19px !important;
    width: 80%;
  }

  .redes {
    margin-top: 8px;
  }


}

@media (max-width: 621px) {
  #welcome {
    font-size: 18px !important;
  }

  .redes {
    margin-top: 5px;
  }
}



@media (max-width: 540px) {

  #welcome {
    font-size: 17px !important;
  }

  .redes{
      height: 30px;
      width: 30px;
  }

  #menu ul{
    
    text-align: center;
    
  }
}

@media(max-width: 500px) {
  .enlaces {
    font-size: 12px;
    margin-top: 4px !important;
  }
}

@media (max-width: 485px) {

  #welcome {
    font-size: 15px !important;
    padding-top: 5px !important;
  }


  .redes{
      height: 28px;
      width: 28px;
      margin-top: 5px;
  }

}

@media (max-width: 428px) {

  #welcome {
    font-size: 15px !important;
    padding-top: 5px !important;
    width: 80%;
  }

  .redes{
      height: 27px;
      width: 27px;
      margin-right: 15px !important;
      margin-top: 5px;
  }

  .enlaces {
    font-size: 11px;
    margin-top: 5px !important;
  }

}

@media (max-width: 402px) {
  .enlaces {
    font-size: 11px;
    margin-top: 6px !important;
  }
}

@media (max-width: 387px) {

  #welcome {
    font-size: 14px !important;
    padding-top: 5px !important;
  }


  .redes{
      height: 27px;
      width: 27px;
      margin-right: 12px !important;
  }


}

@media (max-width: 379px) {
  .enlaces {
    font-size: 8px;
  }

  #welcome {
    padding-top: 3px !important;
    
  }

  .redes{
      margin-top: 3px;
  }
}

.sd {
  width: 93%;
}

.iconodivdos {
    width: 100%;
}

#tooltip-disabled > .tooltip-inner {
  background-color: #fff;
  color: #000;
  border: 1px solid #0076C0;
  position: static;
}

#tooltip-disabled > .tooltip-arrow {
  border-top: 5px solid #0076C0;
}

.codblack {
  font-weight: bold;
}

.DivImg {
  width: 47%;
  text-align: center;
}

.bg-dark {
  background-color: black !important;
}

.navbar {
  margin-top: -5px;
  
}

.navbar-toggler {
  width: 100%;
  height: 20px;
  padding: 3px;
  line-height: 0;
}

.navbar-toggler-icon {
  height: .7em;
}


.dropdown-menu {
  background-color: black !important;
}

.navbar-nav {
  color: white;
  text-align: center;
}

.dropdown-item {
  text-align: center;
}

.responmenu {
  margin-top: 10px;
}

.video {
  margin: auto;
  height: 25rem;
  width: 45rem;
}

@media(max-width: 1000px) {
  .video {
    height: 15rem;
    width: 35rem;
  }
}

@media(max-width: 991px) {
  .video {
    height: 15rem;
    width: 25rem;
  }
}

@media(max-width: 589px) {
  .video {
    height: 15rem;
    width: 25rem;
  }
}

@media(max-width: 453px) {
  .video {
    height: 19rem;
    width: 18rem;
  }
}


@media (max-width: 1500px) {
    .fra {
      height: 380px !important;
    }
}

@media (max-width: 1100px) {
  .fra {
    height: 300px !important;
  }
}

@media (max-width: 750px) {
  .fra {
    height: 260px !important;
  }
}

@media (max-width: 542px) {
  .fra {
    height: 210px !important;
  }
}


@media (max-width: 1950px) {
  .numno {
    font-size: 16px;
  }

  .tam {
    width: 100% !important;
    height: 40% !important;
  }

  .enlaces {
    font-size: 16px;
  }

  .letras-enlaces {
    font-size: 16px;
  }

}

.idsd {
  margin: auto;
  width: 33.3%;
}

.espi {
  margin-bottom: 3rem;
}


.botmodal {
  text-align: center;
  margin-top: 2rem;
}

.mtoop {
  margin-top: 45px;
 
}

.cardds {
  display: flex;
  justify-content: space-around;
}

@media(max-width: 900px) {
  .cardds {
    display: grid;
    
   
  }

  
}


@media(min-width: 1146px) {
  
  #menu > ul > li > ul {
    display: none;
    position: absolute;
    width: 160px;
    margin-left: -9px;
    padding-left: 0px;
    text-align: center;
    margin-top: -3px;
    z-index: 1;/*Para que se superponga*/
  }

  .enlaces {
   margin-left: 1rem ;
  }

}

@media(max-width: 1086px) {
  
  #menu > ul > li > ul {
    display: none;
    position: absolute;
    width: 160px;
    margin-left: -29px;
    padding-left: 0px;
    text-align: center;
    margin-top: -3px;
    z-index: 1;/*Para que se superponga*/
  }

  .enlaces {
   margin-left: 1rem ;
  }

}

@media(max-width: 1081px) {
  
  #menu > ul > li > ul {
    display: none;
    position: absolute;
    width: 160px;
    margin-left: -29px;
    padding-left: 0px;
    text-align: center;
    margin-top: -3px;
    z-index: 1;/*Para que se superponga*/
  }

  .enlaces {
   margin-left: .8rem !important;
  }

}

@media(max-width: 2300px) {
  
  #menu > ul > li > ul {
    display: none;
    position: absolute;
    width: 160px;
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
    margin-top: -3px;
    z-index: 1;/*Para que se superponga*/
  }

  .enlaces {
   margin-left: 1rem !important;
  }

}

@media(max-width: 1468px) {
  
  #menu > ul > li > ul {
    display: none;
    position: absolute;
    width: 160px;
    margin-left: -21px;
    padding-left: 0px;
    text-align: center;
    margin-top: -3px;
    z-index: 1;/*Para que se superponga*/
  }

  .enlaces {
   margin-left: 2rem !important;
  }

}

@media(max-width: 1200px) {
  
  #menu > ul > li > ul {
    display: none;
    position: absolute;
    width: 160px;
    margin-left: -32px;
    padding-left: 0px;
    text-align: center;
    margin-top: -3px;
    z-index: 1;/*Para que se superponga*/
  }

  .enlaces {
   margin-left: 1rem !important;
  }

}


@media(max-width: 1020px) {
  
  #menu > ul > li > ul {
    display: none;
    position: absolute;
    width: 160px;
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
    margin-top: -3px;
    z-index: 1;/*Para que se superponga*/
  }

  .enlaces {
   margin-left: .5rem !important;
  }

}





@media(max-width: 1145px) {
  

  .enlaces {
   margin-left: 1.5rem ;
  }

}

@media(max-width: 900px) {
  

  .enlaces {
   margin-left: 1rem ;
  }

}

@media(max-width: 800px) {
  

  .enlaces {
   margin-left: .5rem ;
  }
	
	.embla__button {
		display:none;
	}
}


.esol {
  margin-top: 2rem;
  font-size: 20px;
}



@media(max-width: 530px) {
  .imgresce {
    width: 80%;
  }
}

.cent {
  text-align: center;
}

.cente {
  text-align: center;
  margin-bottom: 2.5rem;

}

@media(max-width: 428px) {
  .cente {
    margin-top: 2rem;
	
  }
}

.fonthd {
  font-size: 20px;

}



.garan {
  margin-top: 2.5rem;
}

.pointBtn{
  background-color: #495057;
  transition: 0.1s all;
}

.pointBtn:hover{
  background-color: #0076C0;
}



.embla {
  position: relative;
  background-color: #f7f7f7;
  padding: 20px;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  position: relative;
  min-width: 50%;
  padding-left: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 290px;
}

.embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: -40px;
}

.embla__button--next {
  right: -40px;
}
.embla__navbutton{
    color: gray;
    width: 15px;
    height: 15px;
}

.embla__navigation{
    display: inline-flex;
}



.video__carousel_slot{
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
}

.video__carousel_slot img{
  width: 100%;
  height: 140%;
  object-fit: cover;
  transform: translateY(-15%);
  border-radius: 5px;
}

.video__slot_button{
  position: absolute;
  background-color: transparent;
  border: none;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 48px;
  transform: translate(-50%, -50%);
 
  z-index: 64;
  padding: 0px;
}

.video__slot_button svg{
  font-size: 10px;
  width: 100%;
  height: 100%;
}

.video__carousel_slot:hover .ytp-large-play-button-bg{
    fill: red;
    opacity: 1;
}
.ytp-large-play-button-bg{
  fill: #212121;
  opacity: 0.8;
  transition: opacity .25s;
}

.carousel_item_name{
  opacity:1;
  transition: 0.1s all;
  position: absolute;
  font-family: sans-serif;
  color: white;
  font-size: 22px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  top: 0;
  left: 0;
  margin: 5px;
  padding-left: 5px;
  border-left: 4px solid red;
}

/*.video__carousel_slot:hover .carousel_item_name{
  border-left: 4px solid red;
}*/